
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <form method="post" action="/Access/Enter">
        <div class="col-lg-6 col-lg-offset-3">
            Usuario
            <input type="text" name="user" />
            Password
            <input type="password" name="password">
            <input type="submit" class="btn btn-success" value="Entrar">
        </div>
    </form>
</div>

<script>
    
</script>


