@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bienvenido</h1>
    <p>
        Usuario:
        @if (Convert.ToInt32(Session["user"]) == 1)
        {
            @:Administrador
        }
        else if (Convert.ToInt32(Session["user"]) == 2)
        {
        @:Rol 1
        }
        else if (Convert.ToInt32(Session["user"]) == 3)
        {
        @:Rol 2
        }
    </p>
</div>

